body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgb(221, 128, 169) 0%, rgba(128,0,56,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    font-size: 18px;
}

.full-container{
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: -7px 6px 10px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: -7px 6px 10px -1px rgba(66, 68, 90, 1);
    box-shadow: -7px 6px 10px -1px rgba(66, 68, 90, 1);
}

.form-block{
    margin: 0;
    padding: 40px 40px 20px 40px;
}

.dynamic-bar{
    display: none;
    background-color: #FFB8E0;
    border-radius: 20px;
    height: 25px;
    width: 100%;
}

.form-block h1{
    color: var(--primary-color);
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 15px;
    color: black;
    font-size: 18px;
}

select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 25px;
    font-size: 16px;
    transition: border-color 0.3s;
    outline: none;
    cursor: pointer;
    color: black;
}

.step {
    width: 100%;
    background-color: #FFB8E0 ;
    padding: 15px;
    border-radius: 8px;
    border-style: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
    cursor: pointer;
    color: black;
    margin-top: 20px;
}

.step:hover {
    transform: translateY(-3px);
}

.star {
    padding: 10px;
    border-radius:  6px;
    margin:  20px 0;
    font-weight: bold;
    animation: pulse 2s infinite
}


.github-button-container {
    padding: 10px 0 20px 0;
}

.QR-Code {
    display: none;
    padding: 15px;
    width: fit-content;
    margin: 10px auto;
    text-align: center;
}